<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza Create')"></head>
<body>
<div class="container create">
    <h1>Crea Pizza</h1>
    <hr>
    <form
            id="pizza-create"
            method="POST"
            th:action="@{/pizzas/create}"
            th:object="${pizza}"
            class="row"
    >

       
        <div class="col-9" th:insert="fragments/components :: formField('text', 'Nome', 'name')"></div>


        <div class="col-3" th:insert="fragments/components :: formField('number', 'Prezzo', 'price')"></div>


        <div th:insert="fragments/components :: formField('text', 'URL Foto', 'photo')"></div>


        <div th:insert="fragments/components :: formField('textarea', 'Ingredienti', 'description')"></div>

        <div class="mt-4 mb-5">
            <button class="btn btn-primary" type="submit">Salva</button>
            <a th:href="@{/pizzas}" class="btn btn-primary">Torna indietro</a>
        </div>
    </form>
</div>
</body>
</html>