<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body>

<div class="container">
    <h1>PizzaList</h1>
    <hr>
    <form th:action="@{/pizzas}" method="GET">
        <div class="input-group">
            <!-- input precaricato leggendo il parametro search della request -->
            <input
                    type="text"
                    placeholder="Search by name/description"
                    class="form-control" name="search"
                    th:value="${param.search}"
            >
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <!-- Bottone per creare una nuova pizza -->
    <a th:href="@{/pizzas/create}" class="btn btn-primary">Create new Pizza</a>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Immagine</th>
            <th>Edit</th>
            <th>Delete</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
            <td th:text="*{name}" height="100"></td>
            <td th:text="*{description}" height="100"></td>
            <td th:text="*{price}" height="100"></td>
            <td>
                <img th:src="*{photo}" alt="Pizza Image" width="100" height="100">
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/pizzas/edit/{id}(id=*{id})}" title="edit">Edit</a>
            </td>
            <td>
                <form method="POST" th:action="@{/books/delete/{id}(id=*{id})}"
                      onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="btn btn-primary">Delete</i>
                    </button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
