<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body>

<div class="container" th:object="${pizza}">
    <h1 th:text="*{name}"></h1>
    <h2 class="text-muted" th:text="| by *{description}|"></h2>
    <hr>
    <dl>
        <dt>Publisher</dt>
        <dd th:text="*{price}"></dd>

    </dl>
    <div class="mt-2">
        <a th:href="@{/pizzas}" class="btn btn-primary">Back to list</a>
    </div>
</div>
</body>
</html>